@font-face {
  src: url(./assets/fonts/BellotaText-Light.ttf) format("truetype");
  font-family: "Bellota Text";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(assets/fonts/BellotaText-Regular.ttf) format("truetype");
  font-family: "Bellota Text";
  font-weight: 400;
  font-style: normal;
}


@font-face {
  src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(./assets/fonts/SourceSans3-Regular.ttf) format("truetype");
  font-family: 'Source Sans 3';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(/ProjectOlya/assets/fonts/Lora-Regular.ttf) format("truetype");
  font-family: 'Lora';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(/ProjectOlya/assets/fonts/NotoSans_Condensed-Regular.ttf) format("truetype");
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(/ProjectOlya/assets/fonts/OpenSans_Condensed-Regular.ttf) format("truetype");
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
}


@font-face {
  src: url(./assets/fonts/BellotaText-Bold.ttf) format("truetype");
  font-family: "Bellota Text";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url(./assets/fonts/Podkova-Regular.ttf) format("truetype");
  font-family: "Podkova";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(./assets/fonts/Podkova-Medium.ttf) format("truetype");
  font-family: "Podkova";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(./assets/fonts/Podkova-SemiBold.ttf) format("truetype");
  font-family: "Podkova";
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url(./assets/fonts/Podkova-Bold.ttf) format("truetype");
  font-family: "Podkova";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url(./assets/fonts/Podkova-ExtraBold.ttf) format("truetype");
  font-family: "Podkova";
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: url(./assets/fonts/Podkova-ExtraBold.ttf) format("truetype");
  font-family: "Podkova";
  font-weight: 800;
  font-style: normal;
}

/* Header */

.header {
  background-color: rgba(134, 233, 244, 0.1);
  border-bottom: 1.5px solid rgba(80, 181, 218, 0.771);
  font-size: 1.1em;
}
.header__link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;
  list-style-type: none;
  padding: 10px;
}
.header__link {
  color: black;
  text-decoration: none;
}

/* Блок 1 */

.block-1 {
  background-image: url(../images/main_picture_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  border-bottom: 1.5px solid rgba(80, 181, 218, 0.771);
}
.block-1__h1 {
  width: 40%;
  margin: 10% 0 0 10%;
}
.block-1__text {
  width: 40%;
  margin-left: 10%;
}
.block-1__button {
  max-width: 20%;
  margin: 10px 0 10% 10%;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
}

/* Блок 2 */

.block-2 {
  margin: 3vw 10vw 3vw 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block-2__img {
  height: 40vw;
  margin: 15px;
}
.block-2__container {
  padding: 10px;
}

/* Блок 3 */

.block-3 {
  background-image: url(../images/main_picture_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw 3vw 6vw 3vw;
}
.block-3-container {
  width: 90%;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
}

.block-3-container__text {
  border: 1.5px solid rgba(80, 181, 218, 0.771);
  padding: 20px;
  background-color: white;
  width: 100%;
}

/* Блок 4 */

.block-4 {
  background-image: url(../images/main_picture_02.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;

}
.block-4__box {
  width: 50%;
}

.block-4__point {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid  rgba(80, 181, 218, 0.771);
  margin-bottom: 3%;
  background-color: white;
  height: 7vh;

}
.block-4__number {
  margin: 3% 6% 3% 3%;
}
.block-4__text {
  margin-right: 1.5%;
}

/* Блок 5 */

.block-5 {
  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3vw;
}
.block-5__container {
  margin: 0 0 5vw 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}
.block-5__container > div {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.block-5__container > div > h3 {
  padding: 0 15px 0 15px;
}
.block-5__container > div > p {
  padding: 0 15px 0 15px;
}
.block-5__container-link {
  border-top: 1.5px solid  rgba(80, 181, 218, 0.771);
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color:  rgba(134, 233, 244, 0.1);
}
.footer__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.footer__link-social > a > img {
  width: 50px;
  padding: 10px;
}
.footer__link > div > a {
  color: black;
  text-decoration: none;
}
.footer__bottom{
  border-top:1px solid   rgba(80, 181, 218, 0.771);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.footer__bottom > a{
  color: black;
  text-decoration: none;
}

/*NEWS-PAGE*/

.block-news {
  background-image: url(../images/main_picture_01.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 100vh;
}
.block-news__container {
  margin: 0 10vw 10vw 10vw;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(70vw, 1fr));
}
.block-news__container-text {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-news__container > div > h3 {
  padding: 0 15px 0 15px;
}
.block-news__container-text > p {
  padding: 0 15px 0 15px;
}
.block-news__link {
  background-color: white;
  border-top: 1.5px solid rgba(80, 181, 218, 0.771);
  color: rgb(183, 145, 95);
  text-decoration: none;
  padding: 15px;
  text-align: center;
}

/*CONTACT-PAGE*/

.block-main {
  background-image: url(../images/main_picture_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1.5px solid  rgba(80, 181, 218, 0.771);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  height: 100vh;
  padding: 10px;
}
.button-link {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  border-radius: 70px;
  width: 50vw;
  color: black;
  text-decoration: none;
  padding: 15px;
  margin-top: 5vw;
}
.block-main__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
}

@media screen and (max-width: 650px) {
  .block-1 {
    align-items: center;
    margin: 0;
  }
  .block-1__h1 {
    width: 100%;
    margin: 5vw 0 0 0;
    text-align: center;
  }
  .block-1__text {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .block-1__button {
    max-width: 70%;
    padding: 20px;
    margin: 5% 0 5% 5%;
  }
  .block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-2__img {
    height: 70vw;
  }
  /* Блок 3 */

  .block-3 {
    margin: 0;
    text-align: center;
  }
  .block-3-container {
    justify-content: center;
    width: 100%;
    grid-gap: 10px;
  }

  .block-3-container__text {
    width: 80%;
  }

  .block-4__box {
    width: 90%;
  }
  .block-5 {
    margin: 0;
    width: 100%;
  }
  .block-5__container {
    margin: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 600vw));
    text-align: center;
  }

/* Footer */

.footer__link-email{
  display: none;
}
.footer__link {
  flex-direction: column;
  margin-top: 10px;
}
.footer__link-social > a > img {
  width: 40px;
  padding: 5px;
}

.footer__bottom{
  border-top:1px solid rgba(80, 181, 218, 0.771);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: start;
  width: 100%;
}

  /*CONTACT-PAGE*/

  .block-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
  }
  .button-link {
    color: black;
    text-decoration: none;
  }
  .block-main__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.feedback{
  width: 100%;
  height: 100%;
}

  /*FONTS*/

.block-2__header {
  font-family: "Podkova", serif;
  color: rgba(57, 171, 212, 0.771);
}

.block-4__textbold,
.text-bold,
.block-news__header {
  font-family: "Podkova", serif;
  font-weight: 700;
  font-size: 1.15em;
}

.block-4__number,
.block-3-container__item {
  font-family: "Podkova", serif;
  font-weight: 500;
  font-size: 1.2em;
  color: rgba(80, 181, 218, 0.771);
}

.block-1__button,
.block-5__container-link {
  font-family: "Podkova", serif;
  background-color: white;
  color: rgba(80, 181, 218, 0.771);
  text-decoration: none;
  padding: 15px;
  text-align: center;
}

.header,
.block-1__h1,
.block-3__header,
.block-4__header,
.block-5__header,
.block-5__container > div > h3,
.footer,
.block-main,
.block-news__container-text {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

.block-1__text,
.block-2__text,
.block-3-container__text,
.block-4__text,
.text {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  color: black;
}

.block-2__text1{
  font-family: "Podkova", serif;
  font-weight: 400;
  font-size: 1.0em;
  color: black;
}

.block-2__text2{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  color: black;
}

.block-2__text3{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  color: black;
}

.block-2__text4{
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  color: black;
}

.block-2__text5{
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1.0em;
  color: black;
}

.block-2__text6{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  color: black;
}

.block-2__text7{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  color: black;
}
