
@font-face {
  src: url(/ProjectOlya/assets/fonts/CormorantGaramond-Regular.ttf) format("truetype");
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(/ProjectOlya/assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}


/* Header */
.header {
  background-color: rgba(69, 210, 225, 0.145);
}
.header__link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0 5%;
  padding: 10px;
}
.header__link {
  color: black;
  text-decoration: none;
}

/* Блок 2 */
.block-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.3;
  margin: 2vw 10vw 3vw 10vw;
}
.block-2__img {
  height: 40vw;
  margin-top: 15px;
}
.block-2__container {
  padding: 10px;
}

@media screen and (max-width: 650px) {
  .block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-2__img {
    height: 80vw;
  }
}

/* Блок 4 */
.block-4 {
  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vw 0vw 2vw 0vw;
}
.block-4__header {
  text-align: center;
}
.block-4__box {
  width: 45%;
}
.block-4__point {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid  rgba(80, 181, 218, 0.771);
  margin-bottom: 3%;
  background-color: white;
  height: 6vh;
}
.block-4__number {
  margin: 3% 6% 3% 3%;
}

@media screen and (max-width: 650px) {
  .block-4__box {
    width: 90%;
  }
}

/* Блок 3 */
.block-3 {


  background-image: url(../images/main_picture_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 0vw 3vw 0vw;
}
.block-3-container {
  width: 90%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.block-3-container__text {
  border: 1.5px solid rgba(80, 181, 218, 0.771);
  padding: 10px;
  background-color: white;
}
.block-3-container__feedback{
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 650px) {
  .block-3-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

  /*block-3_karuselv - JS*/
  .block-3_karusel {
    height: 50vh;
    display: flex;
    align-items: center;
  }
  .block-3_karusel > div {
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: 100%;
  }
  .block-3_karusel > div > ul {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(20, 300px);
    list-style: none;
    overflow: hidden;
    scroll-snap-type: x mandatory;
  }
  .block-3_karusel > div > ul > li {
    background-color: white;
    scroll-snap-align: center;
  }
  .block-3_karusel > div > button {
    background-color: rgba(80, 181, 218, 0.771);
    border: none;
    cursor: pointer;
  }
  #left {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    height: 50%;
    width: 50%;
  }
  #right {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    height: 50%;
    width: 50%;
  }

@media screen and (max-width: 650px) {
  .block-3_karusel > div > ul {
    grid-template-columns: repeat(20, 200px);
  }
}

/* Блок 5 */
.block-5 {
  background-image: url(../images/main_picture_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3vw;
}
.block-5__container {
  margin: 1.7vw 5vw 6vw 5vw;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 17vw 20vw 30vw;
  grid-template-rows: repeat(1, minmax(200px, 1fr));
}
.block-5__container > div {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding-top: 2vw;
}
.block-5__container_small {
  display: grid;
  grid-template-columns: 30vw;
  grid-template-rows: repeat(1, minmax(200px, 1fr));
  margin: 1.7vw 5vw 6vw 5vw;
}
.block-5__container_small > div {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding-top: 2vw;
}
.block-5__container-link {
  border-top: 1.5px solid  rgba(80, 181, 218, 0.771);
  padding: 15px;
  text-decoration: none;
  text-align: center;
}
block-5_text-name{
  width: 100%;
}

@media screen and (max-width: 650px) {
  .block-5 {
    margin: 0;
    width: 100%;
  }
  .block-5__container {
    margin: 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 600vw));
    text-align: center;
  }
  .block-5__container_small {
    margin: 15px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 600vw));
    text-align: center;
  }
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color:  rgba(134, 233, 244, 0.1);
}
.footer__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.footer__link-social > a > img {
  width: 50px;
  padding: 10px;
}
.footer__link > div > a {
  color: black;
  text-decoration: none;
}
.footer__bottom{
  border-top:1px solid   rgba(80, 181, 218, 0.771);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.footer__bottom > a{
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
.footer__link-email{
  display: none;
}
.footer__link {
  flex-direction: column;
  margin-top: 10px;
}
.footer__link-social > a > img {
  width: 40px;
  padding: 5px;
}

.footer__bottom{
  border-top:1px solid rgba(80, 181, 218, 0.771);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: start;
  width: 100%;
}
}

/*NEWS-PAGE*/

.block-news {
  background-image: url(../images/main_picture_01.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 100vh;
}
.block-news__container {
  margin: 0 10vw 10vw 10vw;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(70vw, 1fr));
}
.block-news__container-text {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-news__container > div > h3 {
  padding: 0 15px 0 15px;
}
.block-news__container-text > p {
  padding: 0 15px 0 15px;
}
.block-news__link {
  background-color: white;
  border-top: 1.5px solid rgba(80, 181, 218, 0.771);
  color: rgb(183, 145, 95);
  text-decoration: none;
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 650px) {

}

/*CONTACT-PAGE*/

.block-main {
  background-image: url(../images/main_picture_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1.5px solid  rgba(80, 181, 218, 0.771);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  height: 100vh;
  padding: 10px;
}
.button-link {
  background-color: white;
  border: 1.5px solid  rgba(80, 181, 218, 0.771);
  border-radius: 70px;
  width: 50vw;
  color: black;
  text-decoration: none;
  padding: 15px;
  margin-top: 5vw;
}
.block-main__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
}


@media screen and (max-width: 650px) {
  .block-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
  }
  .button-link {
    color: black;
    text-decoration: none;
  }
  .block-main__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


  /*FONTS*/
.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: rgba(218, 80, 82, 0.771);
}
@media screen and (max-width: 650px) {
  .header {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: rgba(80, 181, 218, 0.771);
  }
}

.block-2__header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  color: rgba(57, 171, 212, 0.771);
  font-size: 2.5em;
}
.block-2__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
}

.block-4__number {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.0rem;
  color: rgba(80, 181, 218, 0.771);
}
.block-4__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
}

.block-5__container-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgba(80, 181, 218, 0.771);
  font-size: 1.0rem;
}
.block-5_text-name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 2.0rem;
}
.block-5_text-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}
.block-5_text-boldname {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}
.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
}

.block-3__header,
.block-4__header,
.block-5__header {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 2.0rem;
}
@media screen and (max-width: 650px) {
  .block-3__header,
  .block-4__header,
  .block-5__header {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-size: 1.9rem;
  }
  .block-4__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: black;
  }
}




.footer,
.block-main,
.block-news__container-text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 2.0rem;
}

.block-news__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.15em;
}




